.mutantchronicles.sheet.actor.player {
    form {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }

    .trapezoid {
        width: 230px;
        text-align: center;
        height: 0; 
        position: relative;
        border-right: 40px solid transparent;
        border-top: 50px solid #2963BD;        
        box-sizing: content-box;
        }
 
    .trapezoid span { 
        position: absolute;
        top: -30px;
        left: 25%;
        color: #fff;
    }

     .sheet-header {
        // Portrait Artwork
        img.profile {
            flex: 0 0 160px;
            max-width: 160px;
            height: 160px;
        }

        // Character Name
        h1.charname {
            flex: 1;
            height: @actorNameHeight;
            padding: 0;
            input {
                height: @actorNameHeight - 20px;
                margin: 10px 0;
            }
        }

        .header-exp {
            flex: 0 0 150px;
            margin-right: 3px;
            height: @actorNameHeight;
            justify-content: flex-end;
            text-align: right;
        }
    }

    .title {
        color: #f0f0e0; 
        text-shadow: 1px 1px #000;    
    }

    .stat-bar {
        margin: .2rem;        
        padding: .1rem .3rem;
        .title {
            color: #f0f0e0; 
            background: rgba(0, 0, 0, 0.5);
            text-shadow: 1px 1px #000;            
        }                           
    }

    .stat-bar--dark {
        border: 1px solid #7a7971; 
    }
   
    .stat-block {
        border: 1px solid #7a7971;            
        margin: .2rem;   
        .stat-block__header {
            margin: auto;            
            width: 100%;            
        }     
        .stat-box__content {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-evenly;
        }  

        .stat-block--title {
            background: rgba(0, 0, 0, 0.5);
            text-shadow: 1px 1px #000;
            border-bottom: 1px solid #000;
            color: #f0f0e0;    
            padding: .1rem .3rem;
        }

        .stat-block--value { 
            padding: .1rem .3rem;
            font-weight: bold;
            font-size: 1rem;
        }

        .stat-block--label {
            font-size: 0.7rem;
            color:rgba(0, 0, 0, 0.5)
        }    
    }

    .sheet-header {
       align-items: flex-start;   

        img {
            flex: 0 0 90px;
            height: 90px;
            margin-top: 4px;
        }
    }

    .sheet-row {
        display: flex;
        flex-direction: row;
    }

    .stat-box {
        border: 1px solid #7a7971;            
        margin: .2rem;        
        // ATTRIBUTE ITEM                   
        .stat-box__title {
            background: rgba(0, 0, 0, 0.5);
            text-shadow: 1px 1px #000;
            border-bottom: 1px solid #000;
            color: #f0f0e0;                        
            margin: auto;            
            width: 100%;
            padding: .1rem .3rem;
        } 
        .stat-box__value {
            padding: .1rem .3rem;
            font-weight: bold;
            font-size: 1rem;
        }      
        
        label {
            font-size: 0.7rem;
            color:rgba(0, 0, 0, 0.5)
        }    
    }

    .wound-box {
        text-align: center;
        border: 1px solid #7a7971;            
        margin: .2rem;        
        // ATTRIBUTE ITEM                   
        .wound-box__title {
            background: rgba(0, 0, 0, 0.5);
            text-shadow: 1px 1px #000;
            border-bottom: 1px solid #000;
            color: #f0f0e0;                        
            margin: auto;            
            width: 100%;
            padding: .1rem .3rem;
        } 

        .wound-box__content {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-around;
        }

        .wound-box__value {
            padding: .1rem .3rem;
            font-weight: bold;
            font-size: 1rem;
        }      

        .wound-box__value--soak {
            border-right: 1px solid rgba(0, 0, 0, 0.5);
        }      
        
        label {
            font-size: 0.7rem;
            color:rgba(0, 0, 0, 0.5)
        }
    }

    .stat-box--center { 
        text-align: center;                     
    }

    .sheet-content {
        height: 100%;
        display: flex;
        flex-direction: column;

        .editor {
            height: 100%;
        }
        
        .attribute__container {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between; 
            background: rgba(0, 0, 0, 0.5);
            text-shadow: 1px 1px #000;
            border-bottom: 1px solid #000;
            padding: .1rem .1rem .1rem 0.4rem;
            margin: .2rem 0 0 .2rem;
            // ATTRIBUTE ITEM                   
            .attribute__title {
                font-size: 0.8rem;
                color: #f0f0e0;
                text-transform: uppercase;
                margin: auto;            
                width: 100%;
            }
            .attribute__value {                            
                background-color: white; 
                text-align: center;
                width: 60px;  
                height: 1.1rem;                      
            }
        }
        
        .skills__table {
            font-size: .7rem;
            border: 1px solid #7a7971; 
            margin: 0 .2rem .2rem .2rem;
            th, td {
                padding-left: .4rem;
                padding-right: .4rem;
            }
            
            .skill__title {
                text-align: left;      
                white-space: nowrap;        
            }

            .skill__value {
                text-align: center;
                padding: .1rem .4rem;
                width: 40px;
                input {
                    &[type="text"] {
                        height: 1rem;
                        width: 100%;                            
                    }
                    &[type="checkbox"]{
                        height: .8rem;
                        width:  .8rem;
                    }   
                }
            }
        }
    }    
}