.mutantchronicles.sheet.actor.player {
    form {
        display: flex;
        flex-direction: column;
    }
    .sheet-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        .editor {
            height: 100%;
        }
        .stats-list {
            list-style: none;
            padding: 0;
            .stats-list-item {
                background-color: black;
                padding: .2rem .2rem .2rem 1rem;

                .stat-container {
                    display: flex;
                    flex-direction: row;
                    align-content: center;                    
                    justify-content: space-between;
                    text-transform: uppercase;
                }
                // ATTRIBUTE ITEM                   
                .stats-attribute__title {                                                
                    color: white;
                    margin: auto;
                   
                    width: 100%;
                }
                .stats-attribute__value {                            
                    background-color: white;
                    text-align: center;
                    width: 80px;                        
                }
                // SKILL ITEM
                .stats-attribute__title {                                                
                    margin: auto;
                    width: 100%;
                }
                .stats-attribute__value {                            
                    background-color: white;
                    text-align: center;
                    width: 40px;                        
                }               
            }
        }
    }    
}