.mutantchronicles.sheet.item .sheet form {
  display: flex;
  flex-direction: column;
}
.mutantchronicles.sheet.item .sheet .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mutantchronicles.sheet.item .sheet .sheet-content .editor {
  height: 100%;
}
.mutantchronicles.sheet.mc-actor .sidebar {
  background-color: blue;
  color: red;
}
