.mutantchronicles.sheet.item .sheet form {
  display: flex;
  flex-direction: column;
}
.mutantchronicles.sheet.item .sheet .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mutantchronicles.sheet.item .sheet .sheet-content .editor {
  height: 100%;
}
.mutantchronicles.sheet.actor.player form {
  display: flex;
  flex-direction: column;
}
.mutantchronicles.sheet.actor.player .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mutantchronicles.sheet.actor.player .sheet-content .editor {
  height: 100%;
}
.mutantchronicles.sheet.actor.player .sheet-content .flex-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.mutantchronicles.sheet.actor.player .sheet-content .attribute__container {
  background-color: black;
  padding: 0.2rem 0.2rem 0.2rem 0.4rem;
}
.mutantchronicles.sheet.actor.player .sheet-content .attribute__container .attribute__title {
  color: white;
  text-transform: uppercase;
  margin: auto;
  width: 100%;
}
.mutantchronicles.sheet.actor.player .sheet-content .attribute__container .attribute__value {
  background-color: white;
  text-align: center;
  width: 80px;
}
.mutantchronicles.sheet.actor.player .sheet-content .skills__table {
  margin-top: 0;
}
.mutantchronicles.sheet.actor.player .sheet-content .skills__table .skill__title {
  text-align: left;
}
.mutantchronicles.sheet.actor.player .sheet-content .skills__table .skill__value {
  text-align: center;
  width: 80px;
}
.mutantchronicles.sheet.actor.player .sheet-content .skills__table .skill__value input[type="text"] {
  width: 100%;
  margin: 0 0.2rem;
}
