.mutantchronicles.sheet.item .sheet form {
  display: flex;
  flex-direction: column;
}
.mutantchronicles.sheet.item .sheet .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mutantchronicles.sheet.item .sheet .sheet-content .editor {
  height: 100%;
}
.mutantchronicles.sheet.actor.player form {
  display: flex;
  flex-direction: column;
}
.mutantchronicles.sheet.actor.player .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mutantchronicles.sheet.actor.player .sheet-content .editor {
  height: 100%;
}
.mutantchronicles.sheet.actor.player .sheet-content .stats-list {
  list-style: none;
}
.mutantchronicles.sheet.actor.player .sheet-content .stats-list .stats-list-item {
  color: blue;
}
.mutantchronicles.sheet.actor.player .sheet-content .stats-list .stats-list-item .stats-attribute {
  display: flex;
  flex-direction: row;
}
.mutantchronicles.sheet.actor.player .sheet-content .stats-list .stats-list-item .stats-attribute .stats-attribute__title {
  background-color: black;
  color: white;
  width: 100%;
}
.mutantchronicles.sheet.actor.player .sheet-content .stats-list .stats-list-item .stats-attribute .stats-attribute__value {
  flex-shrink: 1;
}
